/*************************************************
    GENERAL STYLES
 *************************************************/
 *,
 *::before,
 *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     font-family: 'Nunito Sans', sans-serif;
 
 }
 
 
 /* ------------------  Mobile View ------------------ */
 
 
 /* Header */
 
 .nav-item{
     margin: 1rem;
 }
 
 .nav-item span{
     margin: 0 1rem;
 }
 
 
 
 /* <!-- Section Steps  --> */
 
 .steps {
     padding: 3rem 0;
     color: #232946;
 }
 
 .steps .col {
     background-color: #b5ddff;
     margin: 1rem;
     border-radius: 20px;
 }

 .col-big{
    background-color: #b5ddff;
    margin: 1rem;
    border-radius: 20px;
 }
 
 .steps .text {
    margin: 1rem;
}

.steps img {
    position: relative;
    bottom: 0;
}

 .container{
 width: 100%;
 margin: 0 auto;
 padding: 0 20px;
 }
 
 .row{
 display: flex;
 flex-direction: column ;
 align-items: center;
 }
 

 h3 {
     margin: 1rem;
     font-size: 1.5rem
 }

 .col-big p {
    margin: 1rem;
}

 .app-store {
    width: 200px;
    margin: 2rem 1rem;
    padding: 10px;
    background-color: #0084fd;
    border-radius: 30px;
    font-size: 1.5rem;
  }

 .symbol{
     font-size: 5rem;
     color: #0084fd ;
     margin: 2rem;
 }
 
img {
    max-width: 300px;
    }

 .desktop-mode{
     display: none;
 }
 
 .col-big{
    text-align: start;
  }







 /* <!-- Section Strategic  --> */
 
 .strategic .col{
     margin-top: 3rem;
 }
 
 .col.bg-white{
     border-radius: 50px;
     margin-bottom: 2rem;
 }
 
 .arrow-down{
     font-size: 2rem;
     margin: 1rem;
     background-color: #0084fd;
     width: 3rem;
     height: 3rem;
     border-radius: 50%;
 }
 

.strategic .b{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#app-dev-text{
    padding: 1rem;
}

.strategic img {
    max-width: 90%;
    margin: auto;
    }

 /*  Section Testimonials */
 
 
 .testimonials .col .bg-no{
     background-color: white;
 }
 
 .testimonials .col {
     background-color: #9792e4;
     margin-top: 1rem;
     border-radius: 60px;
     text-align: center;
   }

 
 
 .testimo-img img{
     margin: 20px;
     width: 150px;
     height: 150px;
     border-radius: 50%;
     object-fit: cover;
   }
 
.testimonials .description{
    margin: 0 20px;
  padding: 0 20px;

}

.testimonials .description h3{
  margin: 0rem;
  font-size: 1.5rem;
  padding: 1rem;
}

.testimonials h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.testimonials .card {
    margin-top: 2rem;
}



     /* Benefits */

.benefits .container{
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.benefits .title{
    padding: 2rem 1rem;
    font-size: 2.5rem;
    }


.benefits .text{
    padding: 1rem 1rem;
    }

.benefits .col{
text-align: start;
}

.benefits h3{
    margin: 0;
}

h2 {
    color: #9792e4;
    padding-left: 1rem;
 }

 .more{
    width: 50%;
    margin: 2rem 1rem;
    padding: 10px;
    background-color: #9792e4;
    border-radius: 30px;
    font-size: 1.5rem;

 }







    /* About US*/


.linkedin{
    width: 200px;
  font-size: large;
}

#about-title{
    font-size: 3rem;
}




    /* <!-- Section Its Free --> */
     
.itsfree .container{
    padding: 3rem;
}

.getstarted {
    color: #9792e4;
    width: 200px;
    margin: 2rem 1rem;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
    font-size: 1.5rem;
    }

.itsfree .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.padding{
    padding: 1rem 0;
}


    /* Footer*/

 
 
 
 
 
 
 
 
 
 
 
 
 
 /* // ######################################## Medium devices (tablets, 768px and up) ######################################## */
 @media (min-width: 576px) and (max-width: 991.98px) { 
     


 /* Common */
    .container{
     max-width: 991px;
     }
 
     .row{
         display: flex;
         flex-direction: row ;
         justify-content: center;
         align-items: stretch;
     }

     .steps 
     .col {
        width: calc(100% / 3 - 2rem);
     }

     .steps  
     .col-big{
        width: calc(100% / 3 * 2 - 2rem);
     }



 /* Strategic */
     .strategic .row{
         display: flex;
         flex-direction: column ;
         justify-content: center;
     }

     .strategic .title{
        font-size: 3rem;
     }

     #strategic-title{
        margin-top: 10rem;
     }

     .strategic img {
        max-width: 90%;
        }



/* Testimonials */

     .testimonials .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
     }


     .testimonials .col{
        display: flex;
        flex-direction: row;
        align-items: center;
     }

     .testimonials .col{
        text-align: start;
     }




     /* Benefits */

     .benefits .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
      }

      
     .benefits .col{
        margin: 1rem;
        width: calc(100% / 2 - 2rem);text-align: start;
     }




    /* About US*/


     
    .about-us .container{
        display: flex;

    }

    #about-title{
        font-size: 4rem;
    }





    /* Get Started*/
     
  
     






    /* Footer*/




 }
 

 


 /* // ######################################## Large devices (desktops, 992px and up) ######################################## */
 @media (min-width: 992px)  { 
 
     .container{
         max-width: 1200px;
     }
 
     .row{
         display: flex;
         flex-direction: row ;
         justify-content: center;
         align-items: stretch;
     }
 
     .desktop-mode{
         display: block;
     }
     
     .steps .col-big {
        width: calc(100% / 3 * 2 - 2rem);
      }

     .steps .col {
        width: calc(100% / 3 - 2rem);
      }


/* <!-- Section Steps  --> */

.col-big .card{
    display: flex;
}


/* <!-- Section Strategic  --> */

.strategic .b{
    margin-top: 15rem;
}

.strategic img {
    width: 100%;
  }

#strategic-pic-p{
    margin-top: 5rem;
}

#strategic-title{
    margin-top: 15rem;
}

/* <!-- Section Testimonials  --> */
.testimonials .col {
    display: flex;
    align-items: center;
  }

.testimonials .row {
display: flex;
flex-direction: column;
justify-content: center;
}

/* <!-- Benefits --> */

.benefits .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .benefits .col{
    margin: 1rem;
    width: calc(100% / 3 - 2rem);text-align: start;
 }


/* <!--  About US --> */




    .about-us .container{
        display: flex;}

        #about-title{
            font-size: 6rem;
        }


/* <!-- Section Its Free --> */



    /* Footer*/

    

  }
 
 
 
 
 
 
 
 
 /* FLOAT Rules */
 .clearfix::after{
     content:"";
     display: block;
     clear: both;
 }
 .float-left{
     float:left;
 }
 
 .float-right{
     float:right;
 }
 
 /* Flex Rules */
 .flex-between-centered{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .flex-center{
     display: flex;
     justify-content: center;
 }
 .flex-column{
     display: flex;
     flex-direction: column;
 }
 
 .flex-column-space-around{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }
 
 .flex-cener-wrap{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }

 .flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

 
 
 /* Background Colors  */
 
 .bg-blu {
     background-color: #0084fd;
 }
 
 .bg-black {
    background-color: #333333;
}

 .bg-violet{
     background-color: #9792e4;
 }
 .bg-white{
     background-color: white;
 }
 

/* Text Formation */

 .text-center {
     text-align: center;
 }
 
 .txt-white{
     color: white;
 }

 .txt-violet{
    color: #9792e4;
 }

 .txt-orange{
    color: orange;
 }

 .txt-gray{
    color: rgb(207, 199, 199);
 }

 .txt-blu{
    color: #0084fd;
 }

 .txt-bold{
    font-weight: bold;
 }


 .txt-1rem{
    font-size: 1rem;
 }

 .txt-2rem{
    font-size: 2rem;
 }

 .txt-4rem{
    font-size: 4rem;
 }